#skills-content, #proyectos-content, #contacto-content{
    overflow-y: auto;
    scrollbar-color: rgba(0,0,0,0.5) transparent;

    height: 85vh;
    width: 90%;
    position: relative;
    color: rgb(50, 45, 50);
}

.skills-grid {
    display: flex;
    flex-direction: column;
    font-size: small;
}

.skill-titulo{
    display: flex;
    justify-content: center;
    margin: 5% 0px;
}

.skill-card{
    display: flex; 
    justify-content: flex-start;  
}

.skill-img { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.skill-img img{
    max-width: 100px;
    max-height: 80px;
}

.skill-description{
    display: flex;
    flex-direction: column;
    flex:4;      
}

.negrita{
    font-weight: bold;
}

/*Tablets (768px - 1024px)*/
@media (max-width: 1024px) {
    .skills-grid{
        gap: 10px;
    }
}


/* Mobile (menos de 767px) */
@media (max-width: 767px) {
    #skills-content, #proyectos-content, #contacto-content{
        width: 100%;
        height: 100%;
    }
    #papel-mobile{
        height: 700px;
    }

    .skills-grid {
        padding: 10px;
        height: 100%;
        font-size: x-small;
    }

    .skill-img img{
        max-width: 60px;
        max-height: 80px;
    }

    .skill-description{
        margin: 0px 10px;     
    }
}